<h1><%= @restaurant.name %></h1>

<th>Adress:</th>
<td><%= @restaurant.address %></td>

<th>Phone Number:</th>
<td><%= @restaurant.phone_number %></td>

<th>Category:</th>
<td><%= @restaurant.category %></td>
